openapi: 3.1.0
info:
  title: Canny REST Autopilot API
  description: 'REST API for retrieving and managing Canny customer-feedback resources:

    boards, categories, changelog entries, comments, companies, ideas, posts,

    status changes, tags, users, and votes. All requests are POST and JSON-

    bodied. Authentication is a secret API key passed in the apiKey body

    parameter (or the x-api-key header on supported endpoints).


    This specification is a best-effort, hand-authored representation of the

    publicly documented v1/v2 endpoints at https://developers.canny.io/.

    Request and response payloads are intentionally generic where the public

    docs do not enumerate the full property schema.

    '
  version: 1.0.0
  contact:
    name: Canny
    url: https://developers.canny.io/
servers:
- url: https://canny.io/api/v1
  description: Canny v1 base URL
- url: https://canny.io/api/v2
  description: Canny v2 base URL (cursor-paginated endpoints)
security:
- apiKeyBody: []
- apiKeyHeader: []
tags:
- name: Autopilot
paths:
  /autopilot/enqueue_feedback:
    post:
      tags:
      - Autopilot
      summary: Enqueue feedback for Canny Autopilot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthedRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'
components:
  schemas:
    GenericObject:
      type: object
      additionalProperties: true
    AuthedRequest:
      type: object
      required:
      - apiKey
      properties:
        apiKey:
          type: string
          description: Secret API key for the Canny company.
      additionalProperties: true
  responses:
    GenericObject:
      description: Single resource response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericObject'
  securitySchemes:
    apiKeyBody:
      type: apiKey
      in: query
      name: apiKey
      description: 'Secret API key. Canny documents the key as a body parameter named

        `apiKey`; it is modeled here as an `apiKey` security scheme.

        '
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
