openapi: 3.2.0
info:
  title: Canny REST Comments API
  description: 'REST API for retrieving and managing Canny customer-feedback resources:

    boards, categories, changelog entries, comments, companies, ideas, posts,

    status changes, tags, users, and votes.'
  version: 1.0.0
  contact:
    name: Canny
    url: https://developers.canny.io/
servers:
- url: https://canny.io/api/v1
  description: Canny v1 base URL
- url: https://canny.io/api/v2
  description: Canny v2 base URL (cursor-paginated endpoints)
security:
- apiKeyBody: []
- apiKeyHeader: []
tags:
- name: Comments
paths:
  /comments/retrieve:
    post:
      tags:
      - Comments
      summary: Retrieve a comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthedRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'
      operationId: postCommentsRetrieve
      x-operation-id-source: derived
  /comments/list:
    post:
      tags:
      - Comments
      summary: List comments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PagedAuthedRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenericList'
      operationId: postCommentsList
      x-operation-id-source: derived
  /comments/create:
    post:
      tags:
      - Comments
      summary: Create a comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthedRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'
      operationId: postCommentsCreate
      x-operation-id-source: derived
  /comments/delete:
    post:
      tags:
      - Comments
      summary: Delete a comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthedRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'
      operationId: postCommentsDelete
      x-operation-id-source: derived
components:
  responses:
    GenericList:
      description: Paginated list response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericList'
    GenericObject:
      description: Single resource response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericObject'
  schemas:
    GenericList:
      type: object
      properties:
        hasMore:
          type: boolean
        cursor:
          type: string
      additionalProperties: true
    PagedAuthedRequest:
      allOf:
      - $ref: '#/components/schemas/AuthedRequest'
      - type: object
        properties:
          limit:
            type: integer
            description: Page size limit.
          skip:
            type: integer
            description: v1 skip-based pagination offset.
          cursor:
            type: string
            description: v2 cursor-based pagination token.
    GenericObject:
      type: object
      additionalProperties: true
    AuthedRequest:
      type: object
      required:
      - apiKey
      properties:
        apiKey:
          type: string
          description: Secret API key for the Canny company.
      additionalProperties: true
  securitySchemes:
    apiKeyBody:
      type: apiKey
      in: query
      name: apiKey
      description: 'Secret API key. Canny documents the key as a body parameter named

        `apiKey`; it is modeled here as an `apiKey` security scheme.

        '
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
